<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:820px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:1130px;
    float:left;
    padding:10px;
    background-color:#F8F8F8;	
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}



</style>